<a href="https://colab.research.google.com/github/yuji-sgs/child-mind-institute/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 参考
https://www.kaggle.com/code/antoninadolgorukova/cmi-piu-features-eda

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import warnings

In [3]:
warnings.filterwarnings('ignore', category=FutureWarning)

sns.set(style="whitegrid")
%matplotlib inline

# 課題を理解する

このコンペティションの目的は、身体活動データやその他の特徴から、子どもや青少年 の問題あるインターネット使用のレベルを測定するSeverity Impairment Index（sii）を予測することである。
siiは、PCIAT-PCIAT_Total 、親子インターネット中毒テスト（PCIAT：20問、0～5点）のスコアの合計から導き出される。

対象変数（sii）は以下のように定義される：
0：なし（PCIAT-PCIAT_Totalが0から30まで）
1：軽度（PCIAT-PCIAT_Totalが31から49まで）
2：中等度（PCIAT-PCIAT_Totalが50から79まで）
3：重度（PCIAT-PCIAT_Total 80以上）
これは、sii を、カテゴリの順序が意味を持つ、4つのレベルを持つ順序カテゴリ変数にします。

siiをターゲットとして使用できる機械学習問題のタイプ
順序分類（順序ロジスティック回帰、カスタム順序損失関数を持つモデル）
多クラス分類（順序を考慮せずにsiiを名義カテゴリ変数として扱う）
回帰（カテゴリの離散的性質を無視し、siiを連続変数として扱い、予測を丸める）
カスタム（カテゴリー間の距離に基づいて誤差にペナルティを与える損失関数など）
また、PCIAT-PCIAT_Total を連続的なターゲット変数として使用し、PCIAT-PCIAT_Totalに対して回帰を実施し、予測値を sii カテゴリにマッピングすることもできます。
最後に、もう1つの戦略は、親子インターネット中毒テストの各質問に対する回答を予測することです。つまり、個々の質問の得点を別々のターゲットとして設定し、PCIAT-PCIAT_Totalを得るために予測された得点を合計し、対応するsiiカテゴリに予測値をマッピングします。

その前に、探索的データ分析をしてみよう。

# データ読み込み

In [4]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kaggle/Child Mind Institute/data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kaggle/Child Mind Institute/data/test.csv')
data_dict = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kaggle/Child Mind Institute/data/data_dictionary.csv')

In [5]:
# Train data
display(train.head())
print(f"Train shape: {train.shape}")

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Train shape: (3960, 82)

In [6]:
# Test data
display(test.head())
print(f"Test shape: {test.shape}")

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,BIA-BIA_TBW,PAQ_A-Season,PAQ_A-PAQ_A_Total,PAQ_C-Season,PAQ_C-PAQ_C_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,32.6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,3.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,27.0552,NaN,NaN,Fall,2.340,Fall,46.0,64.0,Summer,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,NaN,NaN,NaN,Summer,2.170,Fall,38.0,54.0,Summer,2.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,45.9966,NaN,NaN,Winter,2.451,Summer,31.0,45.0,Winter,0.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,Summer,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Test shape: (20, 59)

In [10]:
# Data dictionary
data_dict.head()

,Instrument,Field,Description,Type,Values,Value Labels
0,Identifier,id,Participant's ID,str,NaN,NaN
1,Demographics,Basic_Demos-Enroll_Season,Season of enrollment,str,"Spring, Summer, Fall, Winter",NaN
2,Demographics,Basic_Demos-Age,Age of participant,float,NaN,NaN
3,Demographics,Basic_Demos-Sex,Sex of participant,categorical int,"0,1","0=Male, 1=Female"
4,Children's Global Assessment Scale,CGAS-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN

In [11]:
# Helper functions
def calculate_stats(data, columns):
    if isinstance(columns, str):
        columns = [columns]

    stats = []
    for col in columns:
        if data[col].dtype in ['object', 'category']:
            counts = data[col].value_counts(dropna=False, sort=False)
            percents = data[col].value_counts(normalize=True, dropna=False, sort=False) * 100
            formatted = counts.astype(str) + ' (' + percents.round(2).astype(str) + '%)'
            stats_col = pd.DataFrame({'count (%)': formatted})
            stats.append(stats_col)
        else:
            stats_col = data[col].describe().to_frame().transpose()
            stats_col['missing'] = data[col].isnull().sum()
            stats_col.index.name = col
            stats.append(stats_col)

    return pd.concat(stats, axis=0)

# ターゲット変数とインターネット利用
ターゲット変数に関連し、テスト集合に存在しない特徴を識別しよう。

In [12]:
train_cols = set(train.columns)
test_cols = set(test.columns)
columns_not_in_test = sorted(list(train_cols - test_cols))
data_dict[data_dict['Field'].isin(columns_not_in_test)]

,Instrument,Field,Description,Type,Values,Value Labels
54,Parent-Child Internet Addiction Test,PCIAT-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN
55,Parent-Child Internet Addiction Test,PCIAT-PCIAT_01,How often does your child disobey time limits ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
56,Parent-Child Internet Addiction Test,PCIAT-PCIAT_02,How often does your child neglect household ch...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
57,Parent-Child Internet Addiction Test,PCIAT-PCIAT_03,How often does your child prefer to spend time...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
58,Parent-Child Internet Addiction Test,PCIAT-PCIAT_04,How often does your child form new relationshi...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
59,Parent-Child Internet Addiction Test,PCIAT-PCIAT_05,How often do you complain about the amount of ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
60,Parent-Child Internet Addiction Test,PCIAT-PCIAT_06,How often do your child's grades suffer becaus...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
61,Parent-Child Internet Addiction Test,PCIAT-PCIAT_07,How often does your child check his or her e-m...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
62,Parent-Child Internet Addiction Test,PCIAT-PCIAT_08,How often does your child seem withdrawn from ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
63,Parent-Child Internet Addiction Test,PCIAT-PCIAT_09,How often does your child become defensive or ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
64,Parent-Child Internet Addiction Test,PCIAT-PCIAT_10,How often have you caught your child sneaking ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
65,Parent-Child Internet Addiction Test,PCIAT-PCIAT_11,How often does your child spend time along in ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
66,Parent-Child Internet Addiction Test,PCIAT-PCIAT_12,How often does your child receive strange phon...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
67,Parent-Child Internet Addiction Test,PCIAT-PCIAT_13,"How often does your child snap, yell, or act a...",categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
68,Parent-Child Internet Addiction Test,PCIAT-PCIAT_14,How often does your child seem more tired and ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
69,Parent-Child Internet Addiction Test,PCIAT-PCIAT_15,How often does your child seem preoccupied wit...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
70,Parent-Child Internet Addiction Test,PCIAT-PCIAT_16,How often does your child throw tantrums with ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
71,Parent-Child Internet Addiction Test,PCIAT-PCIAT_17,How often does your child choose to spend time...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
72,Parent-Child Internet Addiction Test,PCIAT-PCIAT_18,How often does your child become angry or bell...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
73,Parent-Child Internet Addiction Test,PCIAT-PCIAT_19,How often does your child choose to spend more...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
74,Parent-Child Internet Addiction Test,PCIAT-PCIAT_20,"How often does your child feel depressed, mood...",categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=..."
75,Parent-Child Internet Addiction Test,PCIAT-PCIAT_Total,Total Score,int,NaN,Severity Impairment Index: 0-30=None; 31-49=Mi...

**親子インターネット中毒テスト（PCIAT**）：20項目（PCIAT-PCIAT_01～PCIAT-PCIAT_20）からなり、それぞれインターネット利用に関する子どもの行動の異なる側面を評価する。項目は0点から5点までの5段階で回答され、その合計点でインターネット依存症の重症度を知ることができる。

また、PCIAT-Seasonには参加シーズン、PCIAT-PCIAT_Totalには合計スコアがあり、PCIATテスト関連の列は全部で22ある。

PCIAT-PCIAT_Totalが対応するsiiカテゴリーと一致していることを、各siiカテゴリーの最小スコアと最大スコアを計算することで検証してみよう：

In [33]:
# siiのグループごとにPCIAT-PCIAT_Totalの最小スコアと最大スコアを把握
pciat_min_max = train.groupby('sii')['PCIAT-PCIAT_Total'].agg(['min', 'max'])
pciat_min_max = pciat_min_max.rename(
    columns={'min': 'Minimum PCIAT total Score', 'max': 'Maximum total PCIAT Score'}
)
pciat_min_max

     Minimum PCIAT total Score  Maximum total PCIAT Score
sii
0.0                        0.0                       30.0
1.0                       31.0                       49.0
2.0                       50.0                       79.0
3.0                       80.0                       93.0

In [34]:
data_dict[data_dict['Field'] == 'PCIAT-PCIAT_Total']['Value Labels'].iloc[0]

'Severity Impairment Index: 0-30=None; 31-49=Mild; 50-79=Moderate; 80-100=Severe'

**回答漏れのチェック**

ブロッコリー・ビーフのナイスキャッチ（[こちら](https://www.kaggle.com/competitions/child-mind-institute-problematic-internet-use/discussion/536407#3000620)）のおかげで、親子インターネット中毒テストの質問のいくつかは回答者によって無視される可能性があることもわかった（PCIAT-PCIAT_01からPCIAT-PCIAT_20の列の欠損値）。

In [38]:
train_with_sii = train[train['sii'].notna()][columns_not_in_test]
train_with_sii[train_with_sii.isna().any(axis=1)].head().style.applymap(
    lambda x: 'background-color: #FFC0CB' if pd.isna(x) else ''
)

例えば、1列目と3列目では、1つの解答に対する得点が欠けていることがわかる。また、各問題は1点から5点の間で採点されるため、合計点は最大5点高くなり、次のSIIカテゴリーに対応する可能性がある（SIIは1行目では0点または1点、3行目では1点または2点となります）。2行目のPCIAT-PCIAT_Totalとsiiは、試験問題が全く解答されていないため、誤って記入されたようだ。

In [44]:
train_with_sii[train_with_sii.isna().any(axis=1)]

,PCIAT-PCIAT_01,PCIAT-PCIAT_02,PCIAT-PCIAT_03,PCIAT-PCIAT_04,PCIAT-PCIAT_05,PCIAT-PCIAT_06,PCIAT-PCIAT_07,PCIAT-PCIAT_08,PCIAT-PCIAT_09,PCIAT-PCIAT_10,...,PCIAT-PCIAT_14,PCIAT-PCIAT_15,PCIAT-PCIAT_16,PCIAT-PCIAT_17,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,PCIAT-Season,sii
24,2.0,2.0,3.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,...,1.0,1.0,2.0,1.0,2.0,NaN,2.0,30.0,Summer,0.0
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Fall,0.0
104,5.0,2.0,4.0,2.0,NaN,2.0,2.0,2.0,1.0,2.0,...,2.0,3.0,3.0,3.0,3.0,3.0,2.0,45.0,Fall,1.0
141,1.0,2.0,4.0,2.0,2.0,2.0,1.0,3.0,1.0,1.0,...,0.0,3.0,0.0,NaN,0.0,2.0,0.0,26.0,Winter,0.0
142,2.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,NaN,1.0,26.0,Spring,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,2.0,2.0,4.0,0.0,5.0,1.0,NaN,5.0,NaN,0.0,...,4.0,4.0,5.0,2.0,4.0,0.0,4.0,42.0,Winter,1.0
3774,5.0,5.0,2.0,2.0,4.0,4.0,4.0,1.0,3.0,4.0,...,0.0,5.0,5.0,1.0,NaN,1.0,2.0,53.0,Summer,2.0
3919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Winter,0.0
3927,4.0,4.0,4.0,2.0,4.0,2.0,0.0,3.0,2.0,4.0,...,2.0,3.0,3.0,3.0,3.0,3.0,NaN,50.0,Fall,2.0
3952,3.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,2.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35.0,Spring,1.0

全体で見ると、63ものテスト回答無視がある

PCIAT-PCIAT_Totalが本当にPCIAT-PCIAT_01からPCIAT-PCIAT_20列の非NA値の合計として計算されたのか確認してみよう：

In [43]:
PCIAT_cols = [f'PCIAT-PCIAT_{i+1:02d}' for i in range(20)]
recalc_total_score = train_with_sii[PCIAT_cols].sum(
    axis=1, skipna=True
)
(recalc_total_score == train_with_sii['PCIAT-PCIAT_Total']).all()

True

今のところ、SIIのスコアが正しくないことがあると結論づけることができる。以下では、PCIAT_Totalと、欠損値が回答された場合に可能な最大スコア（5点）に基づいてSIIを再計算し、いくつかの欠損回答があっても再計算されたSIIが意図されたしきい値を満たしていることを確認する。

In [47]:
def recalculate_sii(row):
    if pd.isna(row['PCIAT-PCIAT_Total']):
        return np.nan
    max_possible = row['PCIAT-PCIAT_Total'] + row[PCIAT_cols].isna().sum() * 5
    if row['PCIAT-PCIAT_Total'] <= 30 and max_possible <= 30:
        return 0
    elif 31 <= row['PCIAT-PCIAT_Total'] <= 49 and max_possible <= 49:
        return 1
    elif 50 <= row['PCIAT-PCIAT_Total'] <= 79 and max_possible <= 79:
        return 2
    elif row['PCIAT-PCIAT_Total'] >= 80 and max_possible >= 80:
        return 3
    return np.nan

train['recalc_sii'] = train.apply(recalculate_sii, axis=1)

元のSIIと再計算されたSIIが異なる行の検証：

In [48]:
mismatch_rows = train[
    (train['recalc_sii'] != train['sii']) & train['sii'].notna()
]

mismatch_rows[PCIAT_cols + [
    'PCIAT-PCIAT_Total', 'sii', 'recalc_sii'
]].style.applymap(
    lambda x: 'background-color: #FFC0CB' if pd.isna(x) else ''
)